<template>
  <v-app class="srg-theme">
    <v-navigation-drawer
      v-model="drawer"
      class="bc-yellow"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-layout justify-space-between column fill-height>
        <v-list>
          <v-list-tile
            v-for="(item, i) in items"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title" />
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-layout align-end justify-center row fill-height>
          <v-btn fab dark small color="primary" class="btn-extra-small"></v-btn>
          <v-btn
            fab
            dark
            small
            color="secondary"
            class="btn-extra-small"
          ></v-btn>
          <v-btn fab dark small color="info" class="btn-extra-small"></v-btn>
          <v-btn fab dark small color="warning" class="btn-extra-small"></v-btn>
          <v-btn fab dark small color="error" class="btn-extra-small"></v-btn>
          <v-btn fab dark small color="success" class="btn-extra-small"></v-btn>
        </v-layout>
      </v-layout>
    </v-navigation-drawer>
    <v-toolbar class="bc-green" :clipped-left="clipped" fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn fab dark small color="primary" class="btn-extra-small"></v-btn>
      <v-btn fab dark small color="secondary" class="btn-extra-small"></v-btn>
      <v-btn fab dark small color="info" class="btn-extra-small"></v-btn>
      <v-btn fab dark small color="warning" class="btn-extra-small"></v-btn>
      <v-btn fab dark small color="error" class="btn-extra-small"></v-btn>
      <v-btn fab dark small color="success" class="btn-extra-small"></v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: true,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'bubble_chart',
          title: 'Inspire',
          to: '/inspire'
        },
        {
          icon: 'bubble_chart',
          title: 'Inspire',
          to: '/inspire'
        },
        {
          icon: 'bubble_chart',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  }
}
</script>
